<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
       <div class="row">
         <div>
        <h3 class="card-title"><%= @user.name %></h3>
        </div>
        <div>
        <h3 class="ml-2 card-title"><%= "年齢:#{@user.age}歳" %></h3>
        </div>
        </div>
        <% if current_user == @user %>
        <%= render 'self' %>
        <% end %>
        <% if current_user.admin? %>
        <%= @user=User.find(params[:id]) %>
        <%= @emails=@user.email %>
        <% end %>
      <div class="card-body">
          <img class="rounded img-fluid" src="<%= render 'img' ,user: @user%>" alt="" >
      </div>
    </div>
    <%= render 'relationships/follow_button', user: @user %>
  </aside>
  <div class="col-sm-8">
    <%= render 'follow' %>
    <%= render 'users', users: @followers %>
  </div>
</div>